<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-group col-md-6") do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control"%>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
  </div>
  <br>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me, class: "form-check-input"%>
      <%= f.label :remember_me, class: "form-check-label" %>
    </div>
  <% end %>
<br>
  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-primary" %>
  </div>
<% end %>
<br>

<%= render "users/shared/links" %>
