<div class="container" style="margin-top:150px">
  <div class="card text-center">
     <h1 class="orange-text font-st">Welcome to Activity Tracker!!!</h1>
     <%if user_signed_in? %>
      <div class=" font-sty">Logged in as: <%=current_user.email%></div><br><br>
  </div>
      <%=link_to "Edit Account Settings",edit_user_registration_path,class:"btn btn-info"%>
      <%=link_to "Go to Activities",activities_path,class:"btn btn-success"%>
</div>
<%else%>
  <div class="container">
    <br><%=link_to "Sign In",new_user_session_path,class:"btn btn-info"%><br><br>
    <%=link_to "Sign Up",new_user_registration_path,class:"btn btn-alternate"%>
  </div>
<%end%>