<div id="<%= dom_id activity %>">
  <p>
    <strong>Title:</strong>
    <%= activity.title %>
  </p>

  <p>
    <strong>Activity type:</strong>
    <%= activity.activity_type %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= activity.start %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= activity.duration %>
  </p>

  <p>
    <strong>Calories:</strong>
    <%= activity.calories %>
  </p>

</div>
