<div style = "margin: 1.5rem"><h2>Log in</h2></div>

<div class = "card" style = "width: 42rem; padding: 1rem">
  <div class = "container">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class = "row p-2">
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>
      
      <div class = "row p-2"> 
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      </div>

      <div class = "row p-2">
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
      </div>

      <div class = "row p-2">
        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      </div>
    <% end %>
    <div class = "row p-2"><%= render "devise/shared/links" %></div>
  </div>
</div>
