<p style="color: green"><%= notice %></p>
<h2 class="text-primary">Log in</h2>
<div class="row">
  <div class="col-6">
    <div class="card mt-4 p-4">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="form-group mb-2">
          <%= f.label :email, style: "display: block" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mt-2" %>
        </div>

        <div class="form-group mb-2">
          <%= f.label :password, style: "display: block" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control mt-2" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit class: "btn mt-2 btn-primary text-dark"%>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>