<div class="container" style="justify-content:center">
    <div class=" col-sm-12 col-md-6 col-lg-4" >
         <div class="card mt-4 p-4" style="border:3px dashed #EE82EE">
           <h2 class="text-primary">Log in</h2>
           <div class="card-body">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-group mb-2">              
                  <strong><%= f.label :email %> <i class="bi bi-envelope-at-fill orange-text"></i></strong>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mt-1" %>
                </div>

                <div class="form-group mb-2">
                  <strong><%= f.label :password %> <i class="bi bi-key-fill orange-text"></i></strong>
                  <%= f.password_field :password, autocomplete: "current-password", class: "form-control mt-1" %>
                </div>

                <% if devise_mapping.rememberable? %>
                  <div class="form-group mb-2">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                <% end %>

                <div class="actions">
                  <%= f.submit "Log in", class: "btn mt-2 btn-info text-light" %>
                </div>
              <% end %>
           </div>
         </div>
    </div>
    <br>
    <div class="container" >
     <div class=" col-sm-12 col-md-6 col-lg-4" style="display:flex; justify-content: space-between;">  
       <%= render "devise/shared/links"%>
      </div>
    </div>
</div>