<div id="<%= dom_id football_player %>">
  <p>
    <strong>Name:</strong>
    <%= football_player.name %>
  </p>

  <p>
    <strong>Rank:</strong>
    <%= football_player.rank %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= football_player.country %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= football_player.position %>
  </p>

  <p>
    <strong>Squad:</strong>
    <%= football_player.squad %>
  </p>

  <p>
    <strong>League:</strong>
    <%= football_player.league %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= football_player.age %>
  </p>

  <p>
    <strong>Born:</strong>
    <%= football_player.born %>
  </p>

  <p>
    <strong>Minutes played:</strong>
    <%= football_player.minutes_played %>
  </p>

  <p>
    <strong>Goals:</strong>
    <%= football_player.goals %>
  </p>

  <p>
    <strong>Penalty kicks made:</strong>
    <%= football_player.penalty_kicks_made %>
  </p>

  <p>
    <strong>Matches played:</strong>
    <%= football_player.matches_played %>
  </p>

  <p>
    <strong>Corner kicks:</strong>
    <%= football_player.corner_kicks %>
  </p>

  <p>
    <strong>Yellow card:</strong>
    <%= football_player.yellow_card %>
  </p>

  <p>
    <strong>Red card:</strong>
    <%= football_player.red_card %>
  </p>

  <p>
    <strong>Penalty kicks won:</strong>
    <%= football_player.penalty_kicks_won %>
  </p>

  <p>
    <strong>Fouls committed:</strong>
    <%= football_player.fouls_committed %>
  </p>

</div>
