<p style="color: green"><%= notice %></p>

<%= render @football_player %>

<div>
  <%= link_to "Edit this football player", edit_football_player_path(@football_player) %> |
  <%= link_to "Back to football players", football_players_path %>

  <%= button_to "Destroy this football player", @football_player, method: :delete %>
</div>
