<h1>Welcome to IRIS Boootcamp 2023</h1>

<% if user_signed_in? %>
    <div>Logged in as: <%= current_user.email %> </div></br></br>
    <%= link_to "Activitites", activities_path %></br></br>
    <%= link_to "Edit Account settings", edit_user_registration_path %></br></br>
    <%= button_to "Logout", destroy_user_session_path , method: :delete %>
<% else %>
    <%= link_to "Sign up", new_user_registration_path %></br></br>
    <%= link_to "Sign in", new_user_session_path %>
<% end %>