<br /><br /><br /><br /><br />

  <div class="devise-container container-fluid d-flex justify-content-center align-items-center">
    <div class="devise-form-container d-flex justify-content-center flex-column align-items-center">
      <div class = "col-lg-12 mx-lg-auto">
        <div class = "card shadow">
          <div class = "card header">
            <h2 class = "card-title justify-text-center"> Edit <%= resource_name.to_s.humanize %></h2>
            </h2>
          </div>
          <div class = "card-body">

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>

                <div class="field">
                  <%= f.label :username %><br />
                  <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
                </div>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>

                <div class="field">
                  <%= f.label :password %><br />
                  <%= f.password_field :password, autocomplete: "new-password" %>
                  <% if @minimum_password_length %>
                    <br />
                    <em><%= @minimum_password_length %> characters minimum</em>
                  <% end %>
                </div>

                <div class="field">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                </div>

                <div class="field">
                  <%= f.label :current_password %><br />
                  <%= f.password_field :current_password, autocomplete: "current-password" %>
                </div>
              <div class = "text-center">
                <br>
                  <div class="actions">
                    <%= f.submit "Update" %>
                  </div>
                <% end %>

                <p> <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>Unhappy?</p>

                <%= link_to "Back", :back %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
